#pages-div {
    /* Let other elements position around the pages, but give
       the pages-div a position property so the stickers in it
       will see it as the closest ancestor (since they currently
       have position: absolute) and position themselves relative
       to pages-div instead of the overall window/viewport */
    position: relative;
    user-select: none;
}

#book-pages {
    width: 1000px;
}

/* -------- Shadow Snorlax Gift -------- */
#shadowSnorlaxSpoilerBlocker {
    width: 129px;
    height: 129px;
    border-radius: 20px;

    background-color: #7b7c84;

    position: absolute;
    bottom: 11.5%;
    left: 20%;

    transition: 0.1s linear;

    cursor: url("./StickerPresents/SpoilerBlockCursor32x32.png"), auto;
}

#shadowSnorlaxSpoilerBlocker:hover {
    background-color: #9b9ca3;
}

#shadowSnorlaxPresentUnopened {
    width: 140px;
    
    position: absolute;
    bottom: 10%;
    left: 20%;

    cursor: url("./StickerPresents/UnopenedPresentCursor32x32.png"), auto;
}

#shadowSnorlaxPresentOpened {
    width: 110px;
    
    position: absolute;
    bottom: 12.9%;
    left: 21%;
}

/* -------- Mandarin Duck Gift -------- */
#mandarinDuckSpoilerBlocker {
    width: 129px;
    height: 129px;
    border-radius: 20px;

    background-color: #7b7c84;

    position: absolute;
    bottom: 11.5%;
    left: 68%;

    transition: 0.1s linear;

    cursor: url("./StickerPresents/SpoilerBlockCursor32x32.png"), auto;
}

#mandarinDuckSpoilerBlocker:hover {
    background-color: #9b9ca3;
}

#mandarinDuckPresentUnopened {
    width: 140px;
    
    position: absolute;
    bottom: 10%;
    left: 68%;

    cursor: url("./StickerPresents/UnopenedPresentCursor32x32.png"), auto;
}

#mandarinDuckPresentOpened {
    width: 110px;
    
    position: absolute;
    bottom: 12.9%;
    left: 69%;
}