#sidebar {
    width: 30vw;
    height: 100vh;

    position: fixed;
    right: -30vw;

    background-color: #d49fd6;
    
    transition: transform 1s;
    transition-timing-function: ease;
    /* issue is sticker goes behind */
    /* overflow-y: auto; */
    /* overflow-x: visible; */

    user-select: none;
}

li {
    list-style-type: none;
}

#shadowSnorlax {
    width: var(--shadow-snorlax-width);
    /* height: var(--width); */

    position: relative;
    /* for some reason the sticker is already horizontally centered without needing this left attribute?? */
    /* left: calc(50% - calc(var(--shadow-snorlax-width) / 2)); */
    margin-top: 10%;

    /* background-color: coral; */
    clip-path: polygon(42% 99%, 35% 97%, 30% 95%, 27% 93%, 24% 90%, 21% 88%, 18% 86%, 15% 82%, 13% 77%, 12% 73%, 11% 69%, 10% 65%, 9% 60%, 9% 55%, 10% 50%, 10% 44%, 11% 40%, 13% 36%, 15% 33%, 17% 30%, 19% 27%, 22% 24%, 25% 22%, 29% 19%, 31% 18%, 31% 16%, 33% 13%, 34% 11%, 33% 9%, 32% 4%, 31% 0%, 35% 0%, 40% 2%, 46% 4%, 49% 5%, 53% 7%, 57% 9%, 62% 11%, 66% 12%, 69% 12%, 70% 16%, 69% 20%, 73% 22%, 77% 25%, 80% 28%, 83% 32%, 85% 36%, 87% 39%, 88% 43%, 89% 48%, 90% 53%, 91% 58%, 91% 63%, 91% 68%, 90% 72%, 88% 77%, 86% 80%, 84% 84%, 82% 87%, 78% 90%, 74% 93%, 69% 96%, 63% 98%, 58% 99%, 52% 100%, 47% 100%);
}

#shadowSnorlax:hover {
    cursor: grab;
}

#shadowSnorlax:active {
    cursor: grabbing;
}

#mandarinDuck {
    width: var(--shadow-snorlax-width);
    /* height: var(--width); */

    position: relative;
    /* for some reason the sticker is already horizontally centered without needing this left attribute?? */
    /* left: calc(50% - calc(var(--shadow-snorlax-width) / 2)); */
    margin-top: 10%;

    /* background-color: coral; */
    clip-path: polygon(1% 49%, 1% 48%, 2% 46%, 5% 44%, 10% 39%, 9% 36%, 8% 32%, 9% 28%, 10% 25%, 13% 22%, 16% 20%, 18% 18%, 21% 18%, 24% 17%, 27% 17%, 30% 17%, 33% 19%, 36% 21%, 38% 23%, 40% 26%, 41% 29%, 42% 32%, 44% 34%, 47% 34%, 50% 35%, 53% 34%, 56% 34%, 57% 34%, 59% 32%, 61% 29%, 63% 27%, 64% 25%, 66% 23%, 68% 23%, 69% 25%, 71% 27%, 74% 28%, 76% 28%, 79% 28%, 82% 27%, 83% 27%, 83% 30%, 83% 33%, 83% 35%, 85% 34%, 88% 32%, 91% 30%, 94% 28%, 97% 26%, 100% 29%, 100% 32%, 99% 34%, 98% 36%, 96% 39%, 94% 43%, 93% 45%, 92% 49%, 90% 52%, 89% 54%, 86% 57%, 82% 60%, 79% 62%, 76% 65%, 73% 68%, 69% 70%, 66% 72%, 62% 74%, 59% 76%, 55% 78%, 50% 79%, 46% 81%, 41% 82%, 36% 82%, 32% 83%, 27% 82%, 23% 81%, 19% 79%, 16% 78%, 13% 75%, 11% 71%, 10% 68%, 9% 65%, 10% 62%, 11% 60%, 12% 58%, 13% 57%, 14% 55%, 15% 52%, 14% 50%, 12% 50%, 10% 52%, 6% 52%, 3% 52%, 2% 52%);
}

#mandarinDuck:hover {
    cursor: grab;
}

#mandarinDuck:active {
    cursor: grabbing;
}