#sidebar {
    width: 30vw;
    height: 100vh;

    position: fixed;
    right: -30vw;

    background-color: #d49fd6;
    
    transition: transform 1s;
    transition-timing-function: ease;
    /* issue is sticker goes behind */
    /* overflow-y: auto; */
    /* overflow-x: visible; */
}

li {
    list-style-type: none;
}

#shadowSnorlax {
    width: var(--shadow-snorlax-width);
    /* height: var(--width); */

    position: relative;
    /* for some reason the sticker is already horizontally centered without needing this left attribute?? */
    /* left: calc(50% - calc(var(--shadow-snorlax-width) / 2)); */
    margin-top: 10%;

    /* background-color: coral; */
    clip-path: polygon(42% 99%, 35% 97%, 30% 95%, 27% 93%, 24% 90%, 21% 88%, 18% 86%, 15% 82%, 13% 77%, 12% 73%, 11% 69%, 10% 65%, 9% 60%, 9% 55%, 10% 50%, 10% 44%, 11% 40%, 13% 36%, 15% 33%, 17% 30%, 19% 27%, 22% 24%, 25% 22%, 29% 19%, 31% 18%, 31% 16%, 33% 13%, 34% 11%, 33% 9%, 32% 4%, 31% 0%, 35% 0%, 40% 2%, 46% 4%, 49% 5%, 53% 7%, 57% 9%, 62% 11%, 66% 12%, 69% 12%, 70% 16%, 69% 20%, 73% 22%, 77% 25%, 80% 28%, 83% 32%, 85% 36%, 87% 39%, 88% 43%, 89% 48%, 90% 53%, 91% 58%, 91% 63%, 91% 68%, 90% 72%, 88% 77%, 86% 80%, 84% 84%, 82% 87%, 78% 90%, 74% 93%, 69% 96%, 63% 98%, 58% 99%, 52% 100%, 47% 100%);
}

#shadowSnorlax:hover {
    cursor: grab;
}

#shadowSnorlax:active {
    cursor: grabbing;
}