#sidebar {
    width: 30vw;
    height: 100vh;

    position: fixed;
    right: -30vw;

    background-color: #d49fd6;
    
    transition: transform 1s;
    transition-timing-function: ease;
    /* issue is sticker goes behind */
    /* overflow-y: auto; */
    /* overflow-x: visible; */
}